/* footer section starts */
.footer {
    min-height: auto;
    padding-top: 0;
    background: #fbfcf8;
  }
  .footer .box-container {
   display: flex;
   justify-content: space-around;
   padding: 2rem 2rem;
  }

  .footer .box-container .box h3 {
    font-size: 2.7rem;
    color: var(--blue1);
    padding-bottom: 1rem;
    font-weight: normal;
  }
  .footer .box-container .box p {
    font-size: 1.7rem;
    color: var(--black);
    padding: 0.7rem 0;
    text-transform: none;
  }
  .footer .box-container .box p i {
    padding-right: 1rem;
    color: var(--ora);
  }
 
  .footer .credit {
    padding: 1rem  0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: grey;
    border-top: 0.1rem solid #fff3;
  }
  .footer .credit a {
    color: var(--para);
  }
  .footer .fa {
    color: #e90606;
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: pound 0.35s infinite alternate;
  }
  .footer .box-container .box a {
    font-size: 1.5rem;
    color: var(--para);
    padding: 0.3rem 0;
    display: block;
  }
  .footer .box-container .box a:hover {
    color: var(--ora);
  }
  .footer .note {
    text-align: center;
    color: grey;
  }
  @-webkit-keyframes pound {
    from {
      transform: scale(1.1);
    }
  }
  @keyframes pound {
    to {
      transform: scale(1.1);
    }
  }
  @media (max-width: 450px) {
    .footer .box-container .box {
      margin: 1.5rem;
    }
    .footer .box-container .box p {
      padding: 0.7rem;
    }
    .footer .box-container .box .share a {
      padding: 1.2rem;
    }
  }
  /* footer section ends */
  